.spinner {
  display         : block;
  width           : 70px;
  height          : 70px;
  border          : 7px solid #7386d53d;
  border-radius   : 50%;
  border-top-color: #6d7fcc;
  animation       : spin 1s linear infinite;
  position        : absolute;
  margin          : auto
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#titles::after {
  display: none;
}

.table thead th {
  font-size: 8px;
  padding  : .2rem
}

.table td,
.table th {
  padding  : .2rem;
  font-size: 11px;
}